.wrapper {
  min-width: 1040px;
}

.lp-ex {
  padding-top: 104px;
  font-family: "hiragino-kaku-gothic-pron";
  color: #000;
  min-width: 1040px;
  overflow: hidden;
  position: relative;
}
.lp-ex .img-fit {
  font-family: "object-fit: cover;";
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.lp-ex .bg-gray {
  background: #ABABAB;
}
.lp-ex .ex-mv {
  position: relative;
}
.lp-ex .ex-mv__bg {
  height: calc(100vh - 104px);
  position: relative;
  overflow: hidden;
}
.lp-ex .ex-mv__logo {
  position: absolute;
  top: 57px;
  top: 4.0772532189vw;
  left: 0;
  width: 324px;
  max-width: 30%;
}
.lp-ex .ex-intro {
  padding: 15px 0 120px;
}
.lp-ex .ex-intro .nav.bnav {
  margin-top: 0;
  color: #000;
}
.lp-ex .ex-intro .nav.bnav .bnav-lists > li:not(:first-child):before {
  color: #000;
}
.lp-ex .ex-intro__inner {
  padding: 0 40px;
}
.lp-ex .ex-intro__120 {
  padding-top: 80px;
}
.lp-ex .ex-intro__headline {
  max-width: 728px;
  margin: 0 auto 50px;
}
.lp-ex .ex-intro__copy {
  max-width: 950px;
  margin: 0 auto;
  font-size: min(24px, 1.7167381974vw);
  line-height: 1.6666666667;
}
.lp-ex .ex-intro__ttl {
  margin-top: 100px;
  color: #AC2D37;
  font-family: "din-condensed";
  font-size: min(70px, 5.0071530758vw);
  line-height: 1;
  font-size: min(70px, 5.0071530758vw) !important;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.lp-ex .ex-intro__list {
  max-width: 1398px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}
.lp-ex .ex-intro__item {
  width: 50%;
}
.lp-ex .ex-intro__item figure {
  max-width: 620px;
  margin: 0 auto 30px;
}
.lp-ex .ex-intro__item h4 {
  color: #AC2D37;
  font-weight: 600;
  font-size: min(24px, 1.7167381974vw);
  line-height: 1.25;
  margin-bottom: 10px;
}
.lp-ex .ex-intro__item p {
  font-size: min(18px, 1.2875536481vw);
  line-height: 1.3333333333;
}
.lp-ex .ex-intro__movie {
  max-width: 800px;
  margin: 0 auto;
}
.lp-ex .ex-point {
  text-align: center;
  background: #fff;
  padding-bottom: 10px;
}
.lp-ex .ex-point__inner {
  max-width: 1398px;
  margin: 0 auto;
}
.lp-ex .ex-point__headline {
  font-size: min(70px, 5.0071530758vw);
  line-height: 1.2857142857;
  font-weight: 600;
}
.lp-ex .ex-point__headline .num {
  font-family: "din-condensed";
  font-weight: 400;
  color: #AC2D37;
  font-size: 228.5714285714%;
}
.lp-ex .ex-point__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.lp-ex .ex-point__item {
  width: 33.3333%;
  flex-shrink: 0;
  padding-bottom: 55px;
}
.lp-ex .ex-point__desc {
  padding: min(55px, 3.5765379113vw) 10px 0;
  position: relative;
}
.lp-ex .ex-point__num {
  color: #AC2D37;
  font-family: "din-condensed";
  font-size: min(120px, 8.5836909871vw);
  line-height: 1;
  transform: translate(-50%, -55%);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}
.lp-ex .ex-point__ttl {
  font-size: min(20px, 1.4306151645vw);
  line-height: 1.75;
  font-size: min(20px, 1.4306151645vw) !important;
  font-weight: 600;
}
.lp-ex .ex-point__ttl .fz-lg {
  display: block;
  font-size: min(44px, 3.1473533619vw);
  line-height: 1.3636363636;
}
.lp-ex .ex-point__hdg {
  font-size: min(24px, 1.7167381974vw);
  line-height: 1.25;
  padding: 15px 0;
  color: #AC2D37;
  font-weight: 600;
}
.lp-ex .ex-point__copy {
  font-size: min(18px, 1.2875536481vw);
  line-height: 1.3333333333;
}
.lp-ex .ex-p-item {
  padding: 50px 10px 0;
  flex-shrink: 0;
  width: 33.333%;
}
.lp-ex .ex-p-color {
  font-size: min(18px, 1.2875536481vw);
  line-height: 1.3333333333;
  font-weight: 500;
}
.lp-ex .ex-p-color .c-hl {
  font-size: min(24px, 1.7167381974vw);
  line-height: 1.6666666667;
  color: #AC2D37;
  display: block;
  font-weight: 600;
}
.lp-ex .ex-p-photo {
  margin: 0 auto;
}
.lp-ex .ex-p-list-size {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.lp-ex .ex-p-list-size a {
  display: flex;
  align-items: flex-end;
  background: #646464;
  border-radius: 44px;
  color: #fff;
  font-size: min(18px, 1.2875536481vw);
  line-height: 1.6666666667;
  padding: 0 23px;
  gap: 5px;
  font-weight: 700;
  font-family: "din-condensed";
  transition: 0.3s;
}
.lp-ex .ex-p-list-size a .fz-sm {
  letter-spacing: 0.075em;
}
.lp-ex .ex-p-list-size a .fz-lg {
  font-weight: 400;
  font-size: min(40px, 2.861230329vw);
  line-height: 1.1;
}
.lp-ex .ex-p-list-size a:hover {
  opacity: 1;
  color: #000;
  background: #e4de52;
}
.lp-ex .ex-p-btn {
  margin-top: 20px;
}
.lp-ex .ex-p-btn a {
  background: #646464;
  font-size: min(24px, 1.7167381974vw);
  line-height: 1.8333333333;
  border-radius: 44px;
  padding: 0 35px;
  color: #fff;
  transition: 0.3s;
  display: inline-flex;
  font-weight: 600;
}
.lp-ex .ex-p-btn a:hover {
  opacity: 1;
  color: #000;
  background: #e4de52;
}
.lp-ex .ex-product {
  text-align: center;
}
.lp-ex .ex-product__inner {
  max-width: 1398px;
  margin: 0 auto;
}
.lp-ex .ex-product__headline {
  font-size: min(50px, 3.5765379113vw);
  line-height: 1.2;
  color: #fff;
  background: #AC2D37;
  font-weight: 600;
  padding: 50px 0;
}
.lp-ex .ex-product__ttl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.lp-ex .ex-product__copy {
  font-size: min(24px, 1.7167381974vw);
  line-height: 1.4166666667;
  margin-top: 10px;
  font-weight: 600;
}
.lp-ex .ex-product__row {
  display: flex;
  justify-content: center;
}
.lp-ex .ex-product__row.row-2-col .ex-p-item {
  width: 38%;
}
.lp-ex .ex-product__unit {
  padding: 80px 0;
}
.lp-ex .ex-product__unit:nth-child(even) {
  background: #E5E5E5;
}
.lp-ex .ex-product__unit:nth-child(odd) {
  background: #ABABAB;
}
.lp-ex .ex-product__unit.unit-01 .ex-product__ttl {
  margin-bottom: 10px;
}
.lp-ex .ex-product__unit.unit-01 .ex-product__ttl img {
  max-width: min(225px, 16.0944206009vw);
}
.lp-ex .ex-product__unit.unit-01 .ex-p-photo {
  max-width: 284px;
}
.lp-ex .ex-product__unit.unit-02 .ex-product__ttl img {
  max-width: min(413px, 29.5422031474vw);
}
.lp-ex .ex-product__unit.unit-02 .ex-p-photo {
  max-width: 393px;
}
.lp-ex .ex-product__unit.unit-03 .ex-product__ttl {
  margin-bottom: -20px;
}
.lp-ex .ex-product__unit.unit-03 .ex-product__ttl img {
  max-width: min(393px, 28.1115879828vw);
}
.lp-ex .ex-product__unit.unit-03 .ex-p-photo {
  margin-top: 20px;
  max-width: 456px;
}
.lp-ex .ex-product__unit.unit-04 .ex-p-item {
  width: 40%;
}
.lp-ex .ex-product__unit.unit-04 .ex-product__ttl img {
  max-width: min(191px, 13.6623748212vw);
}
.lp-ex .ex-product__unit.unit-04 .ex-p-photo {
  max-width: 320px;
}
.lp-ex .ex-product__unit.unit-05 .ex-product__ttl img {
  max-width: min(362px, 25.8941344778vw);
}
.lp-ex .ex-product__unit.unit-05 .ex-p-photo {
  max-width: 438px;
}
.lp-ex .ex-product-head {
  text-align: center;
  padding: 60px 0 120px;
}
.lp-ex .ex-product-head__headline {
  font-size: min(50px, 3.5765379113vw);
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 40px;
}
.lp-ex .ex-product-head__list {
  gap: 50px;
}
.lp-ex .ex-product-head .ex-p-item {
  width: 470px;
  max-width: calc(50% - 25px);
  background: #fff;
  padding: 60px 20px 70px;
}
.lp-ex .ex-product-head .ex-p-photo {
  max-width: 363px;
  margin: 20px auto;
}